.active {
  color: #184E77 !important;
}
.ant-menu-item-selected::after {
  border-bottom-color: #184E77 !important;
}
.ant-menu-item:hover {
  border-bottom-color: #184E77 !important;
}
.ant-menu-item-active::after{
    border-bottom-color: #184E77 !important;
}
.sidebar-nav .active {
  color: #fff !important;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 7px;
}
.sidebar-nav .active::before {
  background: #020817 !important;
  z-index: -1;
}
